
#dash_Produtos{
    display: flex;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    padding-bottom: 20px;
    background-color: #f81919;
}
#dash_Produtos>h1{
  width: 80%;
  margin: auto;
}
#dash_Produtos>button{
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  color: black;
  font-weight: bolder;
  font-size: 1.3rem;
  cursor: pointer;
}
#dash_Produtos>button:hover{
  background-color: rgba(0, 0, 0, 0.84);
  border: 3px solid white;
  color: white;
}
.containerApp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: rgba(143, 14, 14, 0.857);
    border-radius: 6px;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }
  #main_Modal{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 6px;
  }
  #header_Modal_AddProdutos{
    color: black;
    
  }
  #form_Modal_AddProduto{
    display: block;
  }
  #form_Modal_LabelInputs{
    width: 100%;
    display: flex;
  }
  #form_Modal_PrincipalLabel{
    height: 150px;
    width: 30%;
    margin: auto;
    margin-top: 20px;
  }
  #form_Modal_PrincipalLabel label p{
    font-size: 1.1rem;
    padding-left: 60px;
  }

  #form_Modal_PrincipalInput{
    height: 150px;
    width: 70%;
    margin: auto;
    padding-right: 40px;
  }
  .input_Modal_AddProduto{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }

  #button_ModalAdd{
    font-size: 1.1rem;
    width: 30%;
    height: 40px;
    border: 3px solid green;
    border-radius: 6px;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  #button_ModalAdd:hover{
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 6px;
  }
  #button_ModalDel{
    float: right;
    color: white;
    margin-right: 40px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }
  #button_ModalDel:hover{
    color: rgb(173, 173, 10);
    cursor: pointer;
  }
