

.juju{
    display: flex;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f81919;
    justify-content: center;
}

    .formato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: bold;
        
    }

    .roar{
        margin-top: 1rem;
        height: 3rem;
        width: 30%;
        border-radius: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #f51212;
        padding: 0.3rem;
        color: #FFFFFF;
        
    }
    
    .campo{
        width: 20%;
        margin-top: 20px;
        margin-right: 20px;
        background-color: white;
        border: 3px solid black;
        border-radius: 6px;
        color: black;
        font-weight: bolder;
        font-size: 1.3rem;
        cursor: pointer;
    }